#juego{
    height: 100px;
    width: 100%;
}

#piezas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-fluid .row{
    border: 1px solid black;
}

.col-8, .col-4{
    border: 1px solid red;
}